---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import articleViews from "../../data/article-views.json";
import PageHeader from "../../components/PageHeader.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import PopularArticles from "../../components/PopularArticles.astro";

const articles = (await getCollection('blog'))
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const popularArticles = (await getCollection('blog'))
    .sort((a, b) => articleViews[b.id] - articleViews[a.id])
    .slice(0, 5);
---

<Layout>
    <section>
        <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
            <PageHeader 
                title="Articles" 
                description="Things I've written." 
            />

            <div
                    class="relative sm:pb-12 mt-12 pt-12 border-t border-gray-200 grid grid-cols-1 lg:grid-cols-3 gap-12"
            >
                <div class="flex flex-col gap-12 lg:col-span-2">
                    {articles.map(article =>
                        <ArticleCard 
                            article={article} 
                            views={articleViews[article.id]} 
                        />
                    )}
                </div>
                <PopularArticles articles={popularArticles} />
            </div>
        </div>
    </section>
</Layout>
