---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div class="px-8 py-16 mx-auto md:px-12 lg:px-32 max-w-7xl relative">
            <div>
                <h1
                        class="text-4xl mt-4 font-semibold tracking-tight text-gray-900 lg:text-5xl lg:text-balance"
                >
                    Now
                </h1>
                <p class="mt-6 text-base font-medium text-gray-500">
                    This is a <a href="https://nownownow.com/about" target="_blank" class="text-black underline decoration-zinc-300 hover:text-zinc-700">now</a> page.
                </p>
            </div>
            <div class="mt-12">
                <p>
                    I have just launched my first project. <br />
                    Well, the first project I feel confident that will do well. <br />
                    It's a website where you can keep track of all your books, and to whom you have lend them. <br />
                    You can check it out <a href="https://shelveless.com" target="_blank">here</a>!
                </p>
                <p>
                    I still work at the EQOM Group.
                    Really enjoying talking to my 83yo friend bi-weekly.
                    Working on small side projects when time permits.
                </p>
                <div class="mt-2">
                    <small>
                        Updated 2024-07-25
                    </small>
                </div>
            </div>
        </div>
    </section>
</Layout>