---
const { href = null } = Astro.props;
---
<a
        href={href}
        class="inline-flex items-center gap-6 group no-underline hover:no-underline"
>
        <span class="text-lg text-black">
            <slot />
        </span>
    <div class="bg-black text-white rounded-full p-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
        </svg>

    </div>
</a>
