---
const { href = null } = Astro.props;
---
<a
        href={href}
        class="inline-flex items-center gap-6 group no-underline hover:no-underline"
>
        <span class="text-lg text-black">
            <slot />
        </span>
    <div class="bg-black text-white rounded-full p-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
            <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
        </svg>
    </div>
</a>
