<div>
    <h3 class="text-base text-black">Projects</h3>
    <ul role="list" class="mt-4 space-y-2">
        <li>
            <a href="https://tweedruk.nl/" class="hover:text-black">
                TWEEDRUK
            </a>
        </li>
        <li>
            <a href="https://shelveless.com/" class="hover:text-black">
                Shelveless
            </a>
        </li>
        <li>
            <a href="https://localpantry.shop" class="hover:text-black">
                localpantry.shop
            </a>
        </li>
    </ul>
</div>
