<div class="lg:max-w-prose prose text-zinc-500 prose-a:text-black prose-a:underline prose-a:decoration-zinc-300 hover:prose-a:text-zinc-700 prose-headings:text-black prose-blockquote:text-zinc-700 prose-strong:text-zinc-700 prose-img:rounded-3xl prose-pre:rounded-2xl">
    <slot />
</div>