---
---
<div>
    <h3 class="text-base text-black">Socials</h3>
    <ul role="list" class="mt-4 space-y-2">
        <li>
            <a href="https://x.com/boyd_bloemsma" target="_blank" class="hover:text-black">
                @boyd_bloemsma
            </a>
        </li>
    </ul>
</div>