---
import '../../src/styles/global.css';
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title = 'Boyd Bloemsma', description = "Boyd Bloemsma's little corner of the internet."} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<Head title={title} description={description} />
	</head>
	<body>
		<Header />

		<slot />

		<Footer />
	</body>
</html>
